[submodule "CW-TrivialPursuit"]
	path = CW-TrivialPursuit
	url = https://github.com/PLLima/CW-TrivialPursuit/
[submodule "P1"]
	path = CW-TrivialPursuit
	url = https://github.com/PLLima/CW-TrivialPursuit/
